@model Entidades.Models.ViewModels.ValoresPorCampoYTipoMuestraVM

@{
    ViewData["Title"] = "Editar Campo";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-primary">Gráfica por campo y tipo de muestra</h2>
            <div class="lead">
                <div ><strong>Campo</strong>: @Model.Campo.Nombre </div>
                <div ><strong>Tipo de muestra</strong>: @Model.TipoMuestra.Nombre </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row mt-3">
        <div class="col-12">
            
                <div class="chart-container">
                    <canvas id="media-bar-chart" width="100" height="500"></canvas>
                </div>
            </div>
     

    </div>
</div>
<div class="container ">
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
             <a asp-action="FormGraficaCampoYTipoMuestra" class="btn btn-success form-control">Volver </a>
        </div>
    </div>
</div>



@section Scripts{
    <script src="/js/pintarGraficoEstadistico.js">  </script>
}