<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista muestras</h2>
        </div>
        
    </div>
    <br />
    <br />
    <table id="tblMuestras" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>  </th>
                <th>Id</th>
                <th>IdEntidad</th>
                <th>Fecha</th>
                <th>NombreCampo</th>
                <th>TipoMuestra</th>
                <th>Acciones</th>
            </tr>
        </thead>

    </table>

    <button type="button" id="borrarMuestras" class="btn btn-danger">Borrar muestras seleccionadas</button>
</div>
@section Scripts{
    <script src="/js/muestras.js">  </script>
}