@model Entidades.Models.ViewModels.ValoresReferenciaVM

@{
    ViewData["Title"] = "Crear Valor Referencia";
}
@section Scripts{
    <script src="/js/valoresReferenciaController.js">  </script>
}
<br />

<br />
<h2 class="text-primary">Crear Valor Referencia</h2>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-4">
            <label for="tipoMuestraSelect" class="form-label">Seleccione el Tipo de Muestra</label>
            <select id="tipoMuestraSelect" class="form-select" name="idTipoMuestra">
                <option value="0">Seleccione un Tipo de muestra</option>
                @foreach (var item in Model.TiposMuestraDto)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }

            </select>
        </div>
        <div class="col-4">
            <label for="variableSelect" class="form-label">Seleccione la variable</label>
            <select id="variableSelect" class="form-select" name="variableSelect">
                <option value="0">Seleccione la variable</option>

            </select>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-4">
            <label for="minimo" class="form-label">Umbral mínimo</label>
            <input type="text" id="minimo" name="minimo" class="form-control" />
        </div>
        <div class="col-4">
            <label for="variableSelect" class="form-label">Umbral máximo</label>
            <input type="text" id="maximo" name="maximo" class="form-control" />
        </div>
    </div>
    <div class="row justify-content-center mt-3">
    
        <div class="col-8">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
            <partial name="_VistaCrearVolver" />
        </div>
    </div>
</div>