@model Entidades.Models.TiposMuestra

@{
    ViewData["Title"] = "Crear Tipo de muestra";
}

<br />

<br />
<h3 class="text-center">Crear Tipo de muestra</h3>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="post" asp-action="Create">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group ">
                            <label asp-for="Nombre"></label>
                            <input asp-for="Nombre" class="form-control" placeholder="Ingrese Tipo de muestra" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
            <partial name="_VistaCrearVolver" />
        </div>
    </div>
</div>