@model Entidades.Models.ViewModels.ListaEntidadesVM

@{
    ViewData["Title"] = "Lista de entidades";
}
<table>
    <tr>
        <th>Nombre</th>
        <th>Datos</th>
    </tr>
@foreach (var item in @Model.ListaEntidades)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Datos</td>
        </tr>
    }
</table>