@{
    ViewData["Title"] = "Home Page";
}


<div class="alert alert-dismissible alert-info">
    <h1 class="display-4 text-white text-center">Entidades</h1>
    
    <p class="mb-0 text-white text-center"> Aplicación para el seguimiento de entidades en base a sus variables dinámicas.</p>
</div>




<div class="container">



    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Campos</h3>
                <p>Los campos se refiere al campo de estudio o campo de investigación. Es una forma de agrupar las muestras. Por ejemplo Neumología, Oftalmología, etc.</p>
                <p>Para cargar muestras el campo debe existir previamente así como el tipo de muestra.</p>
                <a asp-controller="Campos" asp-action="Index" class="btn btn-primary">
                    Ver campos
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Tipo de muestra</h3>
                <p>
                    Es un subconjunto de campos. Dentro de un campo existen uno o varios tipos de muestra. Por ejemplo si el Campo es Neumología,
                    un tipo de muestra podria ser una Espiromtría.</p>
                <a  class="btn btn-primary" asp-area="" asp-controller="TipoMuestra" asp-action="Index">
                    Ver Tipos de muestra
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Muestras</h3>
                <p>
                    Las muestras son los datos que se van a almacenar. Por ejemplo si el tipo de muestra es una Espirometría, las muestras serán los datos de la espirometría.</p>
                <p>
                    Para cargar una muestra debe existir <strong>tipo de muestra</strong>, <strong>la entidad</strong>, <strong>el campo al que pertence</strong>
                </p>
                    
                <a  class="btn btn-primary" asp-area="" asp-controller="Muestras" asp-action="Index">
                    Muestras
                </a>
            </div>
        </div>
    </div>
    <div class="px-4 py-5 my-5 text-center">
        
        <h1 class="display-5 fw-bold text-body-emphasis">Entidades</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">

                Cada una de estas entidades tendrá una serie de variables que denominamos estáticas que dará de alta el usuario de la aplicación. 
                Por ejemplo si estamos en el campo médico, las entidades serian pacientes y las variables estáticas pueden ser sus datos como el nombre, 
                dirección, móvil, sexo, etc.


            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        
                <a class="btn btn-primary btn-lg px-4 gap-3" asp-area="" asp-controller="Entidades" asp-action="Index">Listar</a>
                <a class="btn btn-outline-secondary btn-lg px-4" asp-area="" asp-controller="Entidades" asp-action="Cargar">Cargar</a>

            </div>
        </div>
    </div>
   
</div>



<div class="text-center">
    <h1 class="display-6">Entidades, ¿qué es?</h1>

    <p class="lead">

        El objetivo de este trabajo es brindar una herramienta capaz de almacenar datos de forma abstracta para permitir su explotación en diferentes dominios de la aplicación,
        por ejemplo en la medicina, un instituto estadístico, un departamento de calidad, etc. pero sin importar el dominio concreto.
        
    </p>
</div>