@{
    ViewData["Title"] = "Cargar entidades";
}

<br />

<br />
<h3 class="text-center">Cargar Entidades</h3>
<form method="post" asp-action="Cargar" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group row mt-2">
            <div class="col-4">
                <label>Archivo Entidades</label>
            </div>
            <div class="col-8">
                <input type="file" name="file" id="subidaArchivo" class="form-control" />
            </div>
        </div>


        <div class="form-group row mt-2">

            <div class="col-8">
                <partial name="_VistaCrearVolver" />
            </div>
        </div>
    </div>


</form>

